### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

# IntelliJ logs & workspace files
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/shelf/

# If using version control integration
.idea/vcs.xml

# Other IDEs
*.sw?

### Java ###
*.class
*.log
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

### Spring Boot ###
/target/
!/src/main/resources/static/
/build/

# Logs
logs/
*.log

# DB
*.h2.db
*.mv.db
*.trace.db

# dotenv files (optional, if you use)
.env
.env.*

# OS Files ###
.DS_Store
Thumbs.db

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Maven
target/
.mvn/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Backup files
*.bak
*.tmp
*.orig
*.old

# Node (if using frontend build)
node_modules/
dist/
